<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>join</title>
    <style>
        .messages{
            color : aqua;
            margin-bottom: 16px;
        }
    </style>
</head>

<body>
<h1> jOin my website</h1><br/>
    <section class="messages"> <%= message %> </section>
    <form action="/join" method="post"><br/>
    <!--// post로 접근하면 또 다른 결과를 보여줌-->
    email : <input type="text" name="email"><br/>
    name : <input type="text" name="name"><br/>
    password : <input type="password" name="password"><br/>
    <input type="submit">
</form>
</body>

</html>
